.DS_Store
.vscode
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
code/react-vs-vanilla-js-example/
code/01-starting-setup/.eslintcache
code/01-starting-setup/node_modules/
code/03-writing-more-complex-jsx-code/node_modules/
code/03-writing-more-complex-jsx-code/yarn.lock
code/09-assignment-1-matts-solution/.eslintcache
code/09-assignment-1-matts-solution/yarn.lock
code/09-assignment-1-matts-solution/node_modules/
code/11-finished/node_modules/
code/11-finished/package-lock.json

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
